<ion-header>
  <ion-toolbar>

     <ion-buttons slot="start">
        <ion-menu-button menu="first" color="primary"></ion-menu-button>
     </ion-buttons>
        
       
     <ion-title color="primary">Componentes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>
      <ion-item *ngFor="let c of componentes | async"
        [routerLink]="c.redirectTo" detail>
         <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
        {{c.name}}
       </ion-item>

     </ion-list>
     <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://cdn.mos.cms.futurecdn.net/3ZzS2BTaMRChrrgDEDB9CM-970-80.jpg.webp" />
      </ion-avatar>
      <ion-label>Resident Evil: Biohazard</ion-label>
    </ion-item>
  <ion-button>Ingresar</ion-button> <ion-button [disabled]="true">Cerrar sesión</ion-button>


  <ion-list>
    <ion-item>
      <ion-input color="primary"label="MARTILLO CAICEDO RONY JAIRO"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Company Name" placeholder="MartilloIndustry"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Address" value="            121 S Pinckney St #300"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="City:" value="                  Isidro Ayora" [readonly]="true"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input label="Postal Code" value="      53703"></ion-input>
    </ion-item>
  </ion-list>
  



</ion-content>

