<ion-header>
  <ion-toolbar>
  <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list>
      <ion-item *ngFor="let c of componentes" [routerLink]="c.redirectTo"
  detail>
        <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
          {{c.name}}
      </ion-item>
   </ion-list>
   <ion-item>
    <ion-avatar slot="start">
      <img alt="Silhouette of a person's head" src="https://cdn.mos.cms.futurecdn.net/3ZzS2BTaMRChrrgDEDB9CM-970-80.jpg.webp" />
    </ion-avatar>
    <ion-label>Resident Evil: Biohazard</ion-label>
  </ion-item>

  <ion-button>Inicio</ion-button> <ion-button>Descripción</ion-button><ion-button [disabled]="true">Cerrar sesión</ion-button>
</ion-content>
